.header__tel {
    color: white;
    font-size: var(--textSizeBig);
    flex-grow: 2;
}

@media (max-width: 767px) {
    .header__tel {
        color: white;
        font-size: var(--textSizeBig);
        
    }
}