.related__title {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 15px;
}

@media (max-width: 1024px) {
    .related__title {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
      
    }
}