.itemcard__stock {
    background-color: var(--colorDetailStock);
    color: white;
    font-size: var(--textSizeSmall);
    padding: 2px 0px;
}

@media (max-width: 1024px) {
    .itemcard__stock {
        font-size: 10px;
    }
}