.detail__stock {
    background-color: var(--colorDetailStock);
    color: white;
    font-size: 12px;
    padding: 0 5px;
}

@media (max-width: 1024px) {
    .detail__stock {
        font-size: 10px;
        padding: 1px 5px;
    }
}